body {
    background: white;
    color: black;
}

h1 {
    
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    margin-top: 2rem;
}

img {
    width: 50vw;
    padding-left: 1rem;
}

p {
    width: 50vw;
    padding: 1rem;
}

a img:hover {
    opacity: 50%;
}

a img:active {
    opacity: 50%;
}

@media only screen and (max-width: 900px) {
    img {
        display:block;
        width: 90vw;
        margin: auto;
    }
    
    p {
        width: 90vw;
        padding: 1rem;
        margin: auto;
    }  
 }
 